<!-- Es esta vista está el código para hacerle render en 
 el archivo create.js.erb -->

<td><%= @post.titulo %></td>\
<td><%= @post.fecha %>@</td>\
<td><%= @post.publicado %></td>\
<td><%= @post.contenido %></td>\
<td><%= @post.user.nombre%></td>\
<td><%= link_to "mostrar post", @post , class: "btn btn-info" %> </td>\
<td><%= link_to "editar post", edit_post_path(@post), class: "btn btn-default" %></td>\
<td><%= link_to "eliminar post", @post, method: :delete, data: {confrim: "seguro que quieres eliminar este post?"}, class: "btn btn-default"%></td>


