<h1>Todos los posts</h1>
<table>
	<thead>

		<tr>
			<th>TITULO</th>
      <th>FECHA</th>
      <th>PUBLICADO</th>
      <th>CONTENIDO</th>
      <th>AUTOR</th>
		</tr>	
	</thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.fecha %></td>
        <td><%= post.publicado %></td>
        <td><%= post.contenido %></td>
        <td><%= post.user_id%></td>
        <td><%= link_to 'mostrar post', post%></td>
        <td><%= link_to 'editar post', edit_post_path(post) %></td>
        <td><%= link_to 'eliminar post', post, method: :delete, data: {confrim: 'seguro que quieres eliminar este post?'}%></td>
        <td><%= link_to 'crear un nuevo post', new_post_path%></td>
      </tr>
    <% end -%>
  </tbody>

</table>
